Repository tony-co/nonna.fm: changes, and which lefthook commands are due for each by the changed paths.
All: type-check, biome-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    type-check:
      glob: "{apps,packages}/**/*.{js,jsx,ts,tsx}"
      run: pnpm run type-check
    biome-check:
      glob: "{apps,packages}/**/*.{js,jsx,ts,tsx,json}"
      run: biome check --write {staged_files}
      stage_fixed: true

pre-push:
  commands:
    test:
      run: pnpm run test

commit-msg:
  commands:
    # Add any commit message validation if needed

fixed lefthook conf
  lefthook.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fixed tests
  apps/web/src/__tests__/app/library/[source]/[target]/_components/LibraryClientContent.test.tsx
  apps/web/src/__tests__/app/library/[source]/[target]/albums/page.test.tsx
  apps/web/src/__tests__/app/library/[source]/[target]/liked/page.test.tsx
  apps/web/src/__tests__/app/library/[source]/[target]/playlist/_components/Playlist.test.tsx
  apps/web/src/__tests__/components/shared/TransferButton.test.tsx
  apps/web/src/app/[locale]/library/[source]/[target]/_components/LibraryClientContent.tsx
  apps/web/src/components/library/AlbumList.tsx
  apps/web/src/components/library/TrackList.tsx
  apps/web/src/components/shared/LoadingSpinner.tsx
  apps/web/src/components/shared/TransferButton.tsx
Due: type-check, biome-check

added progress stats in transfer cta
  apps/web/messages/de.json
  apps/web/messages/es.json
  apps/web/messages/fr.json
  apps/web/messages/it.json
  apps/web/messages/pt.json
  apps/web/src/__tests__/services/apple/api.test.ts
  apps/web/src/__tests__/services/spotify/api.test.ts
  apps/web/src/__tests__/services/youtube/api.test.ts
  apps/web/src/components/shared/TransferButton.tsx
  apps/web/src/hooks/useMatching.ts
  apps/web/src/hooks/useTransfer.ts
  apps/web/src/lib/musicApi.ts
  apps/web/src/lib/services/apple/api.ts
  apps/web/src/lib/services/deezer/api.ts
  apps/web/src/lib/services/spotify/api.ts
  apps/web/src/lib/services/youtube/api.ts
  apps/web/src/types/services.ts
Due: type-check, biome-check

fixed ci
  package.json
Due: none

fixed all callbacks
  apps/web/src/hooks/useTransfer.ts
  apps/web/src/lib/musicApi.ts
  apps/web/src/lib/services/apple/api.ts
  apps/web/src/lib/services/deezer/api.ts
  apps/web/src/lib/services/youtube/api.ts
  apps/web/src/types/services.ts
Due: type-check, biome-check

chore(web): update react to ^19.1.2
  apps/web/package.json
  pnpm-lock.yaml
Due: biome-check

chore(web): update next.js to ^15.5.7
  apps/web/package.json
  pnpm-lock.yaml
Due: biome-check

fix: update next.js to 15.5.9 and react to 19.2.3 for security patch
  apps/web/package.json
  pnpm-lock.yaml
Due: biome-check

fix: keep production Redis active with weekly health checks
  README.md
  apps/web/src/__tests__/lib/redis-health.test.ts
  apps/web/src/app/api/health/redis/route.ts
  apps/web/vercel.json
  docs/redis-operations.md
  turbo.json
Due: type-check, biome-check

fix: make localized homepages crawlable and correct SEO signals
  apps/web/e2e/seo.spec.ts
  apps/web/messages/de.json
  apps/web/messages/en.json
  apps/web/messages/es.json
  apps/web/messages/fr.json
  apps/web/messages/it.json
  apps/web/messages/ja.json
  apps/web/messages/pt.json
  apps/web/src/__tests__/seo.test.ts
  apps/web/src/app/[locale]/_components/HomeGuide.tsx
  apps/web/src/app/[locale]/_components/SourceServices.tsx
  apps/web/src/app/[locale]/layout.tsx
  apps/web/src/app/[locale]/library/[source]/[target]/layout.tsx
  apps/web/src/app/[locale]/page.tsx
  apps/web/src/app/robots.txt/route.ts
  apps/web/src/components/layout/header/LanguageSwitch.tsx
  apps/web/src/components/layout/header/MobileMenu.tsx
  apps/web/src/components/shared/AudioEqualizer.tsx
  apps/web/src/lib/seo/config/base.ts
  apps/web/src/lib/seo/config/structured-data.ts
  apps/web/src/lib/seo/generators/metadata.ts
  apps/web/src/lib/seo/generators/sitemaps.ts
  apps/web/src/lib/seo/generators/structured-data.tsx
  apps/web/src/lib/seo/index.ts
  apps/web/src/lib/seo/utils/canonical.ts
  apps/web/src/middleware.ts
  docs/seo.md
Due: type-check, biome-check

fix: preserve consent dialog alignment after homepage extraction
  apps/web/e2e/smoke.spec.ts
  apps/web/src/app/[locale]/_components/SourceServices.tsx
  docs/seo.md
Due: type-check, biome-check

feat: publish directional transfer guides and clarify homepage offering
  apps/web/e2e/seo.spec.ts
  apps/web/e2e/smoke.spec.ts
  apps/web/messages/de.json
  apps/web/messages/en.json
  apps/web/messages/es.json
  apps/web/messages/fr.json
  apps/web/messages/it.json
  apps/web/messages/ja.json
  apps/web/messages/pt.json
  apps/web/src/app/[locale]/[guide]/page.tsx
  apps/web/src/app/[locale]/_components/HomeGuide.tsx
  apps/web/src/app/[locale]/_components/SourceServices.tsx
  apps/web/src/app/[locale]/page.tsx
  apps/web/src/lib/content/transfer-guides.ts
  apps/web/src/lib/seo/generators/metadata.ts
  apps/web/src/lib/seo/generators/sitemaps.ts
  apps/web/src/lib/seo/utils/hreflang.ts
  docs/seo.md
Due: type-check, biome-check

feat: publish directional transfer guides and clarify homepage offering (#45)
  apps/web/e2e/seo.spec.ts
  apps/web/e2e/smoke.spec.ts
  apps/web/messages/de.json
  apps/web/messages/en.json
  apps/web/messages/es.json
  apps/web/messages/fr.json
  apps/web/messages/it.json
  apps/web/messages/ja.json
  apps/web/messages/pt.json
  apps/web/src/app/[locale]/[guide]/page.tsx
  apps/web/src/app/[locale]/_components/HomeGuide.tsx
  apps/web/src/app/[locale]/_components/SourceServices.tsx
  apps/web/src/app/[locale]/page.tsx
  apps/web/src/lib/content/transfer-guides.ts
  apps/web/src/lib/seo/generators/metadata.ts
  apps/web/src/lib/seo/generators/sitemaps.ts
  apps/web/src/lib/seo/utils/hreflang.ts
  docs/seo.md
Due: type-check, biome-check
